.cproject
.project
.settings
.directory
Makefile.in
Makefile
BROWSE
*~
*.pc
*.o
*.o.d
*.lo
*.loT
*.la
*.so
*.orig
*.odt
*.fodt
*.test
*.example
dali-builder
*.a
*.apk
*.ap_
*.class
*.classpath
*.dex
*.gcno
*.gcda
*.gcov
.deps
.libs
*.swp
*.creator
*.creator.user
/build/desktop
/packaging/home*
*.mo
demo-theme.json
simple-image-wall.js
/shared/resources-location.cpp
/build/tizen/documentation.list
/debugfiles.list
/debuglinks.list
/debugsources.list
android/native-demo/app/build/*
android/native-demo/app/debug
android/native-demo/app/release
android/native-demo/app/.externalNativeBuild
android/native-demo/app/app.iml
android/native-demo/.gradle
android/native-demo/.idea
android/native-demo/local.properties

