.cproject
.project
.settings
.directory
Makefile.in
Makefile
BROWSE
*~
*.pc
*.o
*.o.d
*.lo
*.loT
*.la
*.so
*.orig
*.odt
*.fodt
*.test
*.example
dali-builder
*.a
*.apk
*.ap_
*.class
*.classpath
*.dex
*.gcno
*.gcda
*.gcov
.deps
.libs
*.swp
*.creator
*.creator.user
/build/desktop
/packaging/home*
*.mo
demo-theme.json
simple-image-wall.js
/shared/resources-location.cpp
/build/tizen/documentation.list
/debugfiles.list
/debuglinks.list
/debugsources.list
/com.samsung.dali-demo-debuginfo.manifest
/com.samsung.dali-demo-debugsource.manifest
/build/tizen/*.vcxproj
/build/tizen/*.vcxproj.filters
/build/tizen/builder/Debug/*
/build/tizen/builder/Release/*
/build/tizen/builder/*.dir
/build/tizen/builder/*.vcxproj
/build/tizen/builder/*.vcxproj.filters
/build/tizen/demo/Debug/*
/build/tizen/demo/Release/*
/build/tizen/demo/*.dir
/build/tizen/demo/*.vcxproj
/build/tizen/demo/*.vcxproj.filters
/build/tizen/examples/Debug/*
/build/tizen/examples/Release/*
/build/tizen/examples/*.dir
/build/tizen/examples/*.vcxproj
/build/tizen/examples/*.vcxproj.filters
/build/tizen/examples-reel/Debug/*
/build/tizen/examples-reel/Release/*
/build/tizen/examples-reel/*.dir
/build/tizen/examples-reel/*.vcxproj
/build/tizen/examples-reel/*.vcxproj.filters
/build/tizen/tests-reel/Debug/*
/build/tizen/tests-reel/Release/*
/build/tizen/tests-reel/*.dir
/build/tizen/tests-reel/*.vcxproj
/build/tizen/tests-reel/*.vcxproj.filters

